* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.logo > img {
  width: 50px;
}
.navbar {
  background-color: #505050;
}
.menu {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
}
.product {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 2px #f9f9f9;
  flex: 1 0 auto;
  margin: 10px 20px;
  padding: 4px;
}
.product i {
  display: block;
  text-align: center;
}
.product h2 {
  margin: 16px auto;
  text-align: center;
}
.hamburger {
  color: white;
  padding: 8px;
  font-size: 30px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.social li {
  margin: 0 16px;
}
/** Tablets */
@media screen and (min-width: 450px) {
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
 }
  .product {
      max-width: 800px;
      width: 90%;
      margin: 10px auto;
 }
  .social {
      justify-content: space-evenly;
      padding: 8px;
 }
}
/** desktop */
@media screen and (min-width: 1200px) {
  .hamburger {
      display: none
 }
  .menu {
      display: inline-block;
      list-style: none;
      color: white;
      font-weight: bold;
      text-align: end;
 }
  .menu li {
      float: left;
      padding: 4px 20px;
 }
  main {
      margin-top: 16px;
      flex-direction: row;
 }
  .product {
      flex: 1 0 0px;
      margin: 10px 20px;
 }
  .social {
      border-top: 1px solid #e0e0e0;
      box-shadow: 0px -2px 2px 2px #f9f9f9;
 }
}
